<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 5.3//EN"
        "https://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">root123</property>
        <property name="hibernate.default_schema">loans</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.">true</property>
        <mapping class="org.example.entities.LoanType"/>
         <mapping class="org.example.entities.Loan"/>
         <mapping class="org.example.entities.Client"/>
         <mapping class="org.example.entities.SavingsAccount"/>
         <mapping class="org.example.entities.PaymentPlan"/>
         <mapping class="org.example.entities.LogRecord"/>


    </session-factory>
</hibernate-configuration>
